
{{#each products}}
    <tr>
        <td>{{code}}</td>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>{{stock}}</td>
        <td>{{description}}</td>
        <td><img style="max-width: 80px;" src="{{photoURL}}" alt=""></td>
    </tr>
{{/each}}



